<template name="playerStats">
  <div id="player-stats">
    <div class="stat">
      <h4 class="stat-name">
        Discipline
      </h4>
      <span class="amount">1</span>
      <span class="amount">2</span>
      <span class="amount">3</span>
      <span class="amount">4</span>
    </div>
    <div class="stat">
      <h4 class="stat-name">
        Stamina
      </h4>
      <span class="amount">1</span>
      <span class="amount">2</span>
      <span class="amount">3</span>
      <span class="amount">4</span>
    </div>
    <!-- <div class="stat">
      <h4 class="stat-name">
        Stamina
      </h4>
      <span class="amount">1</span>
      <span class="amount">2</span>
      <span class="amount">3</span>
      <span class="amount">4</span>
    </div> -->
    <div class="stat">
      <h4 class="stat-name">
        Training
      </h4>
      <span class="amount">1</span>
      <span class="amount">2</span>
      <span class="amount">3</span>
      <span class="amount">4</span>
    </div>
  </div>
</template>